.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input.switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.switch:checked + .slider {
  background-color: #246faf;
}

input.switch:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.box-switch {
  margin: 100px 0;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  padding: 0 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.copy input {
  text-align: left;
  border-radius: 0px;
  outline: none;
  border: 2px var(--mainColor) solid;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .box-switch,
  .copy {
    padding: 0 5px;
  }

  .copy input {
    width: calc(100% - 10px);
  }
}

.copy button,
.create a {
  background: var(--mainColor);
  color: white;
  border: 0;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.copy button:hover,
.create a:hover {
  background: #0e555f;
}

.copy button:active,
.create a:active {
  background: #1a3f60;
}

.create {
  width: fit-content;
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 50px;
}


.delete {
  margin-top: 60px;
  text-align: center;
}

.delete button, button.confirmDelete {
  background-color: red !important;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.delete button:hover ,button.confirmDelete:hover{
  background-color: rgb(185, 17, 17) !important;
}

.delete button:active , button.confirmDelete:active{
  background-color: rgb(124, 6, 6) !important;
}
